.custom-select {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-trigger {
  display: flex;
  background-color: var(--color-bg);
  width: auto;
  height: 56px;
  padding: 28px 20px 10px 20px;
  border: 1px solid var(--color-border-input);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  transition: border-color 0.2s ease-out;
  background-image: url("../assets/icons/chevron-updown.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  transition: all 0.2s ease-out;
}
.custom-select-trigger:focus {
  outline: 1px solid #007BFF;
}
.custom-select-trigger .logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: contain;
  border-radius: 4px;
  transition: opacity 0.2s ease-out;
}
.custom-select.open .custom-select-trigger {
  box-shadow: inset 0 0 0 1px #0F50FF;
  border-color: #0F50FF;
}
.custom-select.open .custom-options {
  display: block;
}

.form-input {
  display: none;
}

.form-label-custom {
  position: absolute;
  width: 100%;
  transform: translate(21px, 10px);
  color: #9E9E9E;
  transition: all 0.2s ease-out;
  pointer-events: none;
  font-size: 12px;
  font-weight: 500px;
  z-index: 1;
}

.custom-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 2px;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  z-index: 1000;
  background-color: #FCFCFC;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0px 1px 4px rgba(2, 2, 2, 0.2);
  /* Webkit browsers (Chrome, Safari, newer versions of Edge) */
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #0F50FF #ECECEC;
}
.custom-options span {
  padding-left: 18px;
  border-bottom: 1px solid #E4E4E4;
}
.custom-options span:first-child {
  border-radius: 8px 8px 0 0;
}
.custom-options span:last-child {
  border-radius: 0 0 8px 8px;
  border-bottom: 0;
}
.custom-options::-webkit-scrollbar {
  width: 8px;
}
.custom-options::-webkit-scrollbar-track {
  background: #e6ecff;
  /* Light blue background */
}
.custom-options::-webkit-scrollbar-thumb {
  background: #0F50FF;
  /* The specified blue color */
  border-radius: 4px;
}
.custom-options::-webkit-scrollbar-thumb:hover {
  background: #0D45E0;
  /* Slightly darker on hover */
}

.custom-option {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 16px 8px;
  max-height: 52px;
  cursor: pointer;
  background-color: #FCFCFC;
  transition: background-color 0.1s ease-out;
}
.custom-option.disabled {
  cursor: default;
  opacity: 0.5;
}
.custom-option.disabled:hover {
  background-color: #FCFCFC;
}
.custom-option:hover {
  background-color: #f4f4f4;
}
.custom-option.selected {
  background-color: #eeeeee;
}
.custom-option .status {
  display: inline-block;
  margin-left: auto;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 2px !important;
  color: var(--color-error);
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}
.custom-option .logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: contain;
  border-radius: 4px;
  transition: opacity 0.2s ease-out;
}

/*# sourceMappingURL=select.css.map */
